In [2]:
# list are ordered mutable collection of items.
# they can contain item of different data type also.

In [3]:
lst = []

In [4]:
print(type(lst))

<class 'list'>

In [5]:
lst = [1, 2, 3, 4, 5, 6]
print(lst)

[1, 2, 3, 4, 5, 6]

In [6]:
# accessing the element
print(lst[3])

4

In [7]:
print(lst[1:3])

[2, 3]

In [8]:
##modifying lst element
lst[2] = "Sakshi"
print(lst)

[1, 2, ['Sakshi'], 4, 5, 6]

In [9]:
# List Methods
lst.append("Abin")
print(lst)

[1, 2, ['Sakshi'], 4, 5, 6, 'Abin']

In [21]:
## addent elemnt in  first index

lst.insert(1, "Justin")
print(lst)

['Justin', 'Justin', 2, ['Sakshi'], 4, 5, 6, 'Abin']

In [22]:
lst.remove("Justin")  # removing the first occurance of the item
print(lst)

['Justin', 2, ['Sakshi'], 4, 5, 6, 'Abin']

In [23]:
##Remove and return the last element
popped = lst.pop()
print("popped:", popped)
print(lst)

['Justin', 2, ['Sakshi'], 4, 5, 6]

In [24]:
# indexing the element (safe)
if "Justin" in lst:
    print(lst.index("Justin"))
else:
    print("Justin not in list")

0

In [26]:
# insert in the second indec
lst.insert(2, "banana")
print("count of banana:", lst.count("banana"))
print(lst)

['Justin', 2, 'banana', 'banana', ['Sakshi'], 4, 5, 6]

In [28]:
# sort: only works if all elements are comparable
try:
    lst.sort()  ##sort element in ascending order
    print("sorted:", lst)
except TypeError:
    print("Cannot sort list with mixed types:", lst)

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
lst.reverse()
print("reversed:", lst)

In [30]:
print(lst)

[6, 5, 4, ['Sakshi'], 'banana', 'banana', 2, 'Justin']

In [31]:
lst.clear()
print("cleared:", lst)

In [35]:
# slicing list
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(num_list[2:6])
print(num_list[::2])

[3, 4, 5, 6]
[1, 3, 5, 7, 9]

In [36]:
# iterate over num_list
for n in num_list:
    print(n)

1
2
3
4
5
6
7
8
9
10

In [45]:
num_list = [10, 20, 30, 40]

# using enumerate (index iterate)
for index, num in enumerate(num_list):
    print(index, num)

0 10
1 20
2 30
3 40

In [46]:
# list comprehension
lst = []
for x in range(10):
    lst.append(x**2)

In [47]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [49]:
##list comprehension
##syntax

# square of set of num
sq = [x**2 for x in range(1, 11)]

In [50]:
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [51]:
# which are even number

sq = []
for i in range(1, 11):
    if i % 2 == 0:
        sq.append(i)
print(sq)

[2, 4, 6, 8, 10]

In [55]:
sq1 = [sq for sq in range(1, 11) if sq % 2 == 0]
sq1

[2, 4, 6, 8, 10]

In [56]:
# type of lost comprehension
# nested list comprehension

sq = [1, 2, 3, 4, 5, 6, 7]
sq2 = ["a", "b", "c", "d", "e", "f"]

pair = [[i, j] for i in sq for j in sq2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [1, 'e'], [1, 'f'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [2, 'e'], [2, 'f'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [3, 'e'], [3, 'f'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd'], [4, 'e'], [4, 'f'], [5, 'a'], [5, 'b'], [5, 'c'], [5, 'd'], [5, 'e'], [5, 'f'], [6, 'a'], [6, 'b'], [6, 'c'], [6, 'd'], [6, 'e'], [6, 'f'], [7, 'a'], [7, 'b'], [7, 'c'], [7, 'd'], [7, 'e'], [7, 'f']]

In [58]:
# list comprehension with funciton
wrd = ["a", "ab", "abc", "d", "abcde", "f", "g"]
lengths = [len(wrd) for wrd in wrd]
print(lengths)

[1, 2, 3, 1, 5, 1, 1]