In [7]:
range(0, 5)

range(0, 5)

In [ ]:
# for loop
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
# for loop with different range of numbers
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [9]:
# by using range
range(1, 10, 2)

range(1, 10, 2)

In [11]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [12]:
for i in range(10, 1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [13]:
# strings
sstr = "Sakshi"

for i in sstr:
    print(i)

S
a
k
s
h
i

In [ ]:
##wstring loop
str1="SAkshi"
for i in str1:

In [19]:
# while loop


##it continues to execute until the condition is true:


##temprary variable

count = 0
while count < 5:
    print(count)
    count = count + 1

0
1
2
3
4

In [23]:
count = 0
while count % 2 == 0:
    print(count)
    print()
    count = count + 1

0

In [30]:
# loop control statements

##break

for i in range(20):
    if i == 6:
        break
    print(i)

0
1
2
3
4
5

In [32]:
# continue

##The continues statement skips the current iteration and continues with the next.

for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [ ]:
##pass
##the pas statement is a null operation; it does nothing.

for i in range(6):
    if i == 3:
        print("the number is,"i)
        pass
    print(i)

0
1
2
the number
3
4
5

In [35]:
# nested loop
## a loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j: {j}")

i:0 and j: 0
i:0 and j: 1
i:1 and j: 0
i:1 and j: 1
i:2 and j: 0
i:2 and j: 1

In [38]:
# examples
# calculate the sum of first n natural numbers
n = 10
sum = 0
count = 1
while count <= n:
    sum = sum + count
    count = count + 1
print("the sum is ", sum)

the sum is  55

In [43]:
# calculate the sum of 10 natural numbers using for loop
sum = 0
for i in range(11):
    sum = sum + i

print(sum)

55

In [49]:
# example - prime number between 1 and 100

for i in range(1, 101):
    if i > 1:
        for j in range(2, i):
            if i % j == 0:
                break
        else:
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97