#this fucntion applies a given fucntion to all the items in an input list(or any other iterable) and return a map object (an iterator). This is particularly useful for transforming data in a list comprehension

In [1]:
# why to use
def sq(num):
    return num**2

In [2]:
sq(2)

4

In [5]:
# map
num = [0, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(sq, num))

[0, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
##lambda with map

list(map(lambda num: num**2, num))

[0, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
##map multiple iterable
num1 = [1, 2, 3]
num2 = [4, 5, 6]
add = list(map(lambda num1, num2: num1 + num2, num1, num2))

In [13]:
add

[5, 7, 9]

In [ ]:
##map to convert list of string to integer

str_num = ["1", "2", "3", "4", "5"]
lst_num = list(map(int, str_num)) #tyecasting
print(lst_num)

[1, 2, 3, 4, 5]

In [15]:
type(lst_num)

list

In [17]:
## in built function
word = ["a", "b", "C"]
up = list(map(str.upper, word))
print("Capital words", up)

Capital words ['A', 'B', 'C']